style.
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  }
  td, th {
  border: 2px solid #11100f;
  text-align: left;
  padding: 8px;
  background: #22201f
  }
  tr:nth-child(1) {
  background-color: #787878;
  }
  body{
    background: #11100f;
    color: #ffffff
  }
dy
h1 Kanban API Reference
table
  tr
    th Endpoint
    |     
    th Method
    |     
    th Sample Request
    |     
    th Sample Response
  |   
  tr
    td
      code /api/v1/signup
    |     
    td
      code POST
    |     
    td
      code
        pre.
          {
            "email": "richardhendricks@piedpiper.com",
            "password": "12345",
            "name": "Richard"
          }              
    |     
    td
      code
        pre.
          {
            "token": xxx
          }              
    |     
  tr
    td
      code /api/v1/signin
    |     
    td
      code POST
    |     
    td
      code
        pre.
          {
            "email": "richardhendricks@piedpiper.com",
            "password": "12345"
          }              
    |     
    td
      code
        pre.
          {
            "token": xxx
          }              
    |  
  tr
    td
      code /api/v1/board
    |     
    td
      code POST
    |         
    td
      code
        pre.
          {
            "title": "Pied Piper"
          }              
    |     
    td
      code
        pre.
          {
            "title": "Pied Piper",
            "_id": "5930bfdd36997a231c1d0029",
            "_columns": []
          }              
    |     
  tr
    td
      code /api/v1/boards
    |     
    td
      code GET
    |     
    td
    |     
    td
      code
        pre.
          [
            {
              "_id": "5930bf9036997a231c1d0028",
              "title": "Aviato",
              "_columns": []
            },
            {
              "_id": "5930bfdd36997a231c1d0029",
              "title": "Pied Piper",
              "_columns": []
            }
          ]              
    |     
  tr
    td
      code /api/v1/board/5930bf9036997a231c1d0028
    |     
    td
      code PUT
    |     
    td
      code
        pre.
          {
            "title": "Hooli"
          }              
    |     
    td
    |     
  tr
    td
      code /api/v1/board/5930bf9036997a231c1d0028
    |     
    td
      code DELETE
    |     
    td
    |     
    td
    |     
  tr
    td
      code /api/v1/board/5930bfdd36997a231c1d0029/column
    |     
    td
      code POST
    |     
    td
      code
        pre.
          {
            "title": "Готово"
          }              
    |     
    td
      code
        pre.
          {
            "ok": 1,
            "nModified": 1,
            "n": 1,
            "opTime": {
              "ts": "6426856519043645442",
              "t": 1
            },
            "electionId": "7fffffff0000000000000001"
          }              
    |     
  tr
    td
      code /api/v1/board/5930bfdd36997a231c1d0029/columns
    |     
    td
      code GET
    |     
    td
    |     
    td
      code
        pre.
          [
            {
              "_id": "5930bfdd36997a231c1d0029",
              "title": "Pied Piper",
              "_columns": [
                {
                  "_id": "5930c78a570ed50f8050a359",
                  "title": "Сделать"
                },
                {
                  "_id": "5930c7d3570ed50f8050a35a",
                  "title": "В процессе"
                },
                {
                  "_id": "5930c7e5570ed50f8050a35b",
                  "title": "Тестирование"
                },
                {
                  "_id": "5930c7f2570ed50f8050a35c",
                  "title": "Готово"
                }
              ]
            }
          ]              
  |   
  tr
    td
      code
        | example: /api/v1/board/5930bfdd36997a231c1d0029/column/5930c78a570ed50f8050a359/card 
        br
        |  pattern: /api/v1/{boardId}/column/{columnId}/card
    |     
    td
      code POST
    |     
    td
      code
        pre.
          {
            "title": "Аутентификация",
            "text": "Запилить JWT аутентификацию"
          }              
    |     
    td
    |     
    td
  |   
  td
    code
      | example: /api/v1/board/5930bfdd36997a231c1d0029/column/5930c78a570ed50f8050a359/cards 
      br
      |  pattern: /api/v1/{boardId}/column/{columnId}/cards
  |     
  td
    code GET
  |     
  td
    code
  |     
  td
    code
      pre.
        [
          {
            "_id": "5930c78a570ed50f8050a359",
            "title": "Сделать",
            "_boardId": "5930bfdd36997a231c1d0029",
            "_cards": [
              {
                "_id": "5930d1da18f9c4259c84f168",
                "title": "Клиент",
                "text": "Запилить клиентскую часть приложения ",
                "_creator": "5930b90b36997a231c1d0026",
                "_columnId": "5930c78a570ed50f8050a359",
                "_comments": []
              }
            ]
          }
        ]            
  |     
  tr
    td
      code
        | example: /api/v1/board/590bf098e8c51828540865d3/column/5930c78a570ed50f8050a359/card/5930d1da18f9c4259c84f168/comment 
        br
        |  pattern: /api/v1/{boardId}/column/{columnId}/card/{cardId}/comment
    |     
    td
      code POST
    |     
    td
      code
        pre.
          {
            "text": "Richard, бла"
          }              
    |     
    td
    |     
  tr
    td
      code
        | example: /api/v1/board/5930bfdd36997a231c1d0029/all 
        br
        |  pattern: /api/v1/{boardId}/all
    |     
    td
      code GET
    |     
    td
      code
    |     
    td
      code
        pre.
                        